*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
html{
  font-size: 62.5%;
}
body{
  height: 100vh;
}
.header{
  background-image: url(../img/pattern-bg.png);
  height: 32vh;
  text-align: center;
  padding-top: 1px;
  position: relative;
  background-size: cover;
}
.header__title{
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin: 20px 0;
}
.header__input{
  border-radius: 12px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 360px;
  max-width: 90%;
}
.input{
  height: 100%;
  width: 100%;
  padding: 5px 15px;
  outline: none;
}
.input::placeholder{
  color: darkgray
}
.button{
  background: black;
  border: 0;
  color: white;
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  transition: 150ms all;
  width: 40px;
}
.button:hover{
  background: dimgray;
}
.header__response{
  align-items: center;
  background: white;
  border-radius: 15px;
  bottom: -55px;
  box-shadow: 0 0 10px gray;
  display: flex;
  height: 120px;
  position: absolute;
  width: 80%;
  z-index: 2;
  left: 0; /*esto centra el div absoluto*/
  right: 0;
  margin: 0 auto;
}
.response{
  color: gray;
  width: 25%;
  font-size: 1.1rem;
  font-weight: bolder;
  height: 100%;
  letter-spacing: 2px;
  padding: 25px 10px 25px 25px;
  text-align: left;
}
.response__content{
  margin-top: 10px;
  color: black;
  font-size: 2rem;
  letter-spacing: 0px;
}
.vr{
  width: 0.1px;
  height:80px;
  display: inline-block;
}
#map{
  height: 68vh;
  z-index: 0
}

@media (max-width: 840px) {
  .response{
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .header__response{
    width: 95%;
  }
  .response__content{
    font-size: 1.8rem;
  }
}
@media (max-width: 624px) {
  .response{
    font-size: 0.9rem;
  }
  .response__content{
    font-size: 1.6rem;
  }
}
@media (max-width: 560px) {
  .response__content{
    font-size: 1.4rem;
  }
}
@media (max-width: 490px) {
  .header{
    height: 38vh;
  }
  .header__title{
    font-size: 1.8rem;
  }
  .header__input{
    height: 50px;
  }
  .header__response{
    top: 20px;
    bottom: 0;
    box-shadow: 0 0 10px #444;
    flex-direction: column;
    height: auto;
    padding: 4px 0 12px;
    position: relative;
    width: 90%;
  }
  .response{
    font-size: 1rem;
    padding: 15px 0 0;
    text-align: center;
    width: 100%;
  }
  .response__content{
    font-size: 1.6rem;
    margin-top: 5px;
  }
  .vr{
    display: none;
  }
  #map{
    height: 62vh;
  }
}
@media (max-width: 320px) {
  .header__title{
    margin: 15px 0;
  }
  .header__input{
    height: 40px;
  }
  .header__response{
    top: 15px;
  }
  .response{
    padding-top: 10px;
  }
}
